<div class="row">
  <div class="col-xs-offset-2 col-md-8">

    <h3>Add a new job opportunity</h3>

    <br>
    <form ng-submit="$ctrl.create()">
      <div>
        <label for="companyName">Company</label>
        <input id="companyName" class="form-control" ng-model="$ctrl.application.companyName" ng-required="true">
      </div>
      <div>
        <label for="title">Title</label>
        <input id="title" class="form-control" ng-model="$ctrl.application.title">
      </div>
      <div>
        <label for="description">Description</label>
        <input type="textarea" id="description" class="form-control" ng-model="$ctrl.application.description">
      </div>
      <div>
        <label for="url">URL</label>
        <input id="url" class="form-control" ng-model="$ctrl.application.url">
      </div>
      <div>
        <label for="city">City</label>
        <input id="city" class="form-control" ng-model="$ctrl.application.city">
      </div>
      <div>
        <label for="state">State</label>
        <input id="state" class="form-control" ng-model="$ctrl.application.state">
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Add Job
        </button>
      </div>
    </form>
  </div>
</div>
