<div class="container col-md-12">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Analytics</h3>
    </div>
    <div class="panel-body">

      <div>
        <h1 id="chart-title"><strong>{{$ctrl.chartType}}</strong></h1>
        <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
        chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options" chart-colors="$ctrl.colors"
        chart-dataset-override="$ctrl.datasetOverride" height="$ctrl.chartHeight" width="$ctrl.chartWidth">
        </canvas>
      </div>

    </div>
    <div>
      <button class="btn btn-primary" ng-click="$ctrl.renderApplicationChart()">Applications Chart</button>
      <button class="btn btn-primary" ng-click="$ctrl.renderActionChart()">Actions Chart</button>
    </div>
  </div>
</div>
