<div class="container col-md-12" >
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title">Analytics</h3>
    </div>
    <div class="panel-body">

      <!-- Applications over time chart -->
        <!-- chart-series="$ctrl.series" -->
        <!-- chart-click="onClick" -->
      <div>
        <canvas id="line" class="chart chart-line" chart-data="$ctrl.data"
        chart-labels="$ctrl.labels" chart-options="$ctrl.options"
        chart-dataset-override="$ctrl.datasetOverride">
        </canvas>
      </div>

    </div>
    <div>
      <button class="btn btn-primary" ng-click="$ctrl.chartType = applications">Applications Chart</button>
      <button class="btn btn-primary" ng-click="$ctrl.chartType = actions">Actions Chart</button>
    </div>
  </div>
</div>
