<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-dimensions">

  <a class="navbar-brand" href="#">Job Tracker</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="row">
        <div class="col-xs-12">

        <div class="col-xs-4">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </div>

        <div class="col-xs-4 ng-hide" ng-show="!$ctrl.loggedIn">
          <li class="nav-item active">
            <a class="nav-link btn btn-success" ui-sref="/login" ng-click="">login</a>
          </li>
        </div>

        <div class="col-xs-4 ng-hide" ng-show="$ctrl.loggedIn">
          <li class="nav-item active">
            <a class="nav-link btn btn-danger" ng-click="$ctrl.logout()">Logout</a>
          </li>
        </div>

        <!-- <div class="col-xs-3">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div> -->

        </div>
      </div>
    </ul>
  </div>
</nav>
