<a href="#" data-toggle="modal" data-target="#login-modal">Login</a>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>Login to Your Account</h1><br>
				  <form ng-submit="$ctrl.login($event)">
					<input type="text" name="email" placeholder="Email" ng-model="$ctrl.email">
					<input type="password" name="password" placeholder="Password" ng-model="$ctrl.password">
					<input type="submit" class="login loginmodal-submit" value="Login">
				  </form>

          <button type="button" ng-click="$ctrl.getUser()">TEST API CALL</button>

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
